In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
from sklearn.feature_selection import SelectKBest
import sklearn.feature_selection
from sklearn.feature_selection import chi2
import xgboost as xgb
from sklearn.metrics import roc_auc_score

# Feature Importance
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier

In [2]:
raw = pd.read_csv("raw.csv")

In [3]:

usedColumns = ['CIGEVER','ALCEVER','MJEVER', 'COCEVER', 'HEREVER', 'BOOKED', 'DRIVALC2']
usedFeatures = ['CIGEVER','ALCEVER','MJEVER', 'COCEVER', 'HEREVER', 'DRIVALC2']

selection = raw[usedColumns]

selection.is_copy = False


selection[selection == 2] = 0
selection[selection == 4] = 0
selection[selection == 3] = 1
selection[selection == 85] = 0
selection[selection == 94] = 0
selection[selection == 97] = 1 #Refused to answer = yes
selection[selection == 98] = 1 #Left blank = yes

Y = selection[['BOOKED']]

train, test = train_test_split(raw, train_size = 0.8)

Y_train = train[['BOOKED']]
Y_test = test[['BOOKED']]

X_train = train[usedFeatures]
X_test = test[usedFeatures]

X_train.head()

       CIGEVER  ALCEVER  MJEVER  COCEVER  HEREVER  DRIVALC2
33026        1        1       1        1        2         4
9447         1        1       1        1        2         1
42213        1        1       2        2        2         2
33232        2        2       2        2        2         4
40249        1        1       1        1        2         2

In [ ]:
# model = xgb.XGBRegressor(n_estimators=100, max_depth=5, learning_rate=.2, objective="binary:logistic")
# model.fit(X_train, Y_train)

In [ ]:
# predictions = model.predict(X_test)
# roc_auc_score(Y_test, predictions)

Feature Selection

In [5]:
estimator = SVR(kernel="linear")
selector = RFE(estimator, 5, step=1)
selector = selector.fit(X_train, Y_train)

selector.ranking_

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([1, 1, 1, 2, 1, 1])

Predictive Power Ranking:
1) Heroin
2) Cigarettes
3) Drinking and Driving
4) Alcohol
5) Marijuana
6) Cocaine

In [6]:
train.head()

,CASEID,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,II2EMST4,PRXRETRY,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,GQTYPE2
33026,33027,65649166,1,99,99,14,9999,99,4,93,...,1,99,2,3,1,1,10898.869780,40002,1,-9
9447,9448,77131593,1,99,99,13,9999,99,1,30,...,1,99,2,3,2,2,836.623236,40017,2,-9
42213,42214,91841147,1,99,99,14,9999,99,1,1,...,1,99,1,1,2,2,8954.786081,40050,2,-9
33232,33233,60401489,2,4,4,991,9991,91,91,91,...,9,99,2,1,2,2,277.995608,40023,1,-9
40249,40250,41706975,1,99,99,14,9999,99,1,30,...,1,99,1,1,2,2,11585.457590,40040,2,-9

In [14]:
X_new = SelectKBest(chi2, k=3).fit_transform(X_train, Y_train)

In [16]:
X_new

array([[1, 1, 2],
       [1, 1, 2],
       [2, 2, 2],
       ...,
       [1, 1, 2],
       [2, 2, 2],
       [1, 2, 2]], dtype=int64)